html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "open sans";
}

h1 {
	font-size: 120px;
	font-weight: 300;
	color: #FFFFFF;
	text-align: center;
}

h2 {
	font-size: 30px;
	font-weight: 300;
	color: #FFFFFF;
	text-align: center;
}
